<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/ru.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>HBA-Cash</title>
    </head>
    <body style="background-color: black;">

        <div id="app">

            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand" href="/">HBA-Cash</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/table">Таблица</a></li>
                        <li class="nav-item"><a class="nav-link" style="pointer-events: none; cursor: default;" href="/logout">Выйти</a></li>
                    </ul>
                </div>
            </nav>

            <!-- Форма получения холдов и инфомрации о них  -->
            <div class="container-fluid mt-5">
                <div class="form-group col-sm-12 col-md-4">
                    <h3 class="text-light">Получить данные о холдах</h3>
                    <input type="date" class="form-control mt-3 bg-dark text-light" v-model="startDate" placeholder="start date">
                    <input type="date" class="form-control mt-3 bg-dark text-light" v-model="endDate" placeholder="end date">
                    <button class="btn btn-outline-warning mt-3" @click="getHoldData(); getSalaryBonuses()">Получить</button>
                </div>
            </div>
            

            <!-- Таблица с храениянми данных о холдах -->
            <div class="container-fluid mt-5" v-if="!loading">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered table-hover table-dark" v-for="(table, tabIdx) in weeklyGroupedArray">
                        <thead class="bg-warning text-light">
                            <tr>
                                <th style="white-space: nowrap;">Дата</th>
                                <th style="white-space: nowrap;">Сумма Холдов</th>
                                <th style="white-space: nowrap;">Число холдов в этот день</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, idx) in table">
                                <th style="white-space: nowrap;">{{ item.date.weekday }} <span class="text-info">{{ item.date.selfDay }}</span></th>
                                <th style="white-space: nowrap;">{{ item.date.allHold }}</th>
                                <th style="white-space: nowrap;">{{ item.date.numDayLeads }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="container-fluid mt-5 mb-5">
                <div class="table-responsive fixed-height">
                    <h3 class="text-light mb-5" v-if="holdDataResp.length != 0">Все лиды по статусу hold</h3>
                    <table class="table table-striped table-bordered table-hover table-dark" v-if="holdDataResp.length != 0 && !loading">
                        <thead class="bg-warning text-light" style="position: sticky; top: 0px;">
                            <tr>
                                <th style="white-space: nowrap;">Дата</th>
                                <th style="white-space: nowrap;">Телефон</th>
                                <th style="white-space: nowrap;">Стоимость</th>
                                <th style="white-space: nowrap;">Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, idx) in holdDataResp.data" v-if="item.status == 'hold'">
                                <th style="white-space: nowrap;">{{ item.startedAt }}</th>
                                <th style="white-space: nowrap;">{{ item.phone }}</th>
                                <th style="white-space: nowrap;" :style="{color: item.price.offer == 0 ? 'red' : 'white'}">{{ item.price.offer }}</th>
                                <th style="white-space:  nowrap;">{{ item.status }}</th>
                            </tr>
                            <tr>
                               <th class="text-warning">Total</th>
                               <th class="text-warning">Total</th> 
                               <th class="text-danger">{{ allSummHold }}</th> 
                               <th class="text-warning">Total</th> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <h5 class="text-danger mt-3 mb-5" v-if="holdDataResp.length != 0 && !loading">Кол-во холдов с 0 за этот диапазон: <span class="text-primary">{{ zeroNumLead }}</span></h5> -->

            </div>

            <div class="container-fluid mt-5 justify-content-center" v-if="loading">
                <div class="d-flex align-items-center">
                    <strong class="text-light">Загрузка...</strong>
                    <div class="spinner-border ml-auto text-warning" role="status" aria-hidden="true"></div>
                </div>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </body>
</html>

<style>

    .fixed-height {
        max-height: 400px;
        overflow-y: auto;
    }

</style>

<script>

    dayjs.locale('ru')

    let app = new Vue ({
        el: "#app",
        data: {
            startDate: "",
            endDate: "",
            holdDataResp: [],
            holdArray: [],
            groupedArray: [],
            weeklyGroupedArray: [],
            zeroNumLead: 0,
            loading: false,
            allSummHold: 0,
            totalBrokerSalary: 0,
            totalBrokerBonuses: 0,
            dataResponse: null,
            getterInputs: null,
        },
        methods: {
            async getHoldData() {

                this.holdArray = []
                this.groupedArray = []
                this.weeklyGroupedArray = []
                this.zeroNumLead = 0
                this.loading = true
                this.allSummHold = 0

                try {
                    const response = await fetch('/table/getHold', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'startDate': this.startDate,
                        'endDate': this.endDate
                    })
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
            
                this.holdDataResp = await response.json();

                for (let i = 0; i < this.holdDataResp.data.length; i++) {
                    const item = this.holdDataResp.data[i]

                    if (item.status == 'hold') {
                        this.holdArray.push({
                            'date' : dayjs(item.startedAt).format('YYYY-MM-DD'),
                            'hold' : item.price?.offer ? item.price.offer : 0
                        })
                        this.allSummHold += item.price?.offer ? item.price.offer : 0
                    }
                }

                const groupedMap = new Map();

                for (const holdItem of this.holdArray) {
                    const dateStr = holdItem.date;
                    const holdValue = holdItem.hold;
                    const allLeadDay = 0

                    if (groupedMap.has(dateStr)) {
                        const existingEntry = groupedMap.get(dateStr);
                        existingEntry.date.allHold += holdValue;
                        existingEntry.date.numDayLeads ++
                    } else {
                        const weekday = dayjs(dateStr).format('dddd');
                        groupedMap.set(dateStr, {
                            date: {
                                selfDay: dateStr,
                                allHold: holdValue,
                                weekday: weekday,
                                numDayLeads: allLeadDay,
                            }
                        });
                    }
                }

                this.groupedArray = Array.from(groupedMap.values());

                } catch (error) {
                    console.error("Ошибка при получении данных:", error);
                    this.holdDataResp = null;
                }

                for (let i = 0; i < this.holdArray.length; i++) {
                    if (this.groupedArray['date'] == this.holdArray[i] + '...' + this.holdArray[i].date) {
                        this.groupedArray['date']['hold'] += this.holdArray[i]['hold']
                        this.groupedArray['date']['numDayLeads'] += 1
                    }
                }

                this.weeklyGroupedArray = [];
                
                for (let i = 0; i < this.groupedArray.length; i += 7) {
                    this.weeklyGroupedArray.push(this.groupedArray.slice(i, i + 7));
                }

                for (let i = 0; i < this.holdDataResp.data.length; i++) {
                    let dataOf = this.holdDataResp.data[i]

                    dataOf['startedAt'] = dayjs(dataOf['startedAt']).format('dddd')

                    if (dataOf['price'].offer == 0) {
                        this.zeroNumLead ++
                    }

                }

                this.loading = false
            },
            async getSalaryBonuses() {

                this.totalBrokerBonuses = 0
                this.totalBrokerSalary = 0
                this.getterInputs = null


                // получение зарплаты и бонусов

                const response = await fetch('/tableSalaryBonuses', {
                    method : "POST",
                    headers : {
                        'Content-Type' : 'application/json'
                    },
                    body : JSON.stringify({
                        "startDate" : this.startDate,
                        "endDate" : this.endDate
                    })
                }).then(data => data.json()).then(resp => this.dataResponse = resp)

                // получение входов (лиды с трафика)

                const responseInputs = await fetch('/tableTraficInput', {
                    method : "POST",
                    headers : {
                        'Content-Type' : 'application/json'
                    },
                    body : JSON.stringify({
                        "startDate" : this.startDate,
                        "endDate" : this.endDate
                    })
                }).then(data => data.json()).then(resp => this.getterInputs = resp)

                console.log(this.getterInputs)

                let pathToBroker = this.dataResponse.data.brokers

                for (let i = 0; i < pathToBroker.length; i++) {
                    this.totalBrokerSalary += pathToBroker[i].total.hold.sum
                    this.totalBrokerBonuses += pathToBroker[i].bonuses
                }


                this.totalBrokerSalary = (this.totalBrokerSalary / 50 * 65) + (this.totalBrokerSalary  * 0.2) + this.totalBrokerBonuses + 2000
            }
        }
    })


</script>